.contentFact{
    flex-direction: column;
    padding-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.bloc_fact{
    background-color: #343434;
    width: 344px;
    height: 177px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
}
.bloc_fact{
    background-color: #EDEDED;
    color: #121212;
}
.btnFact{
    background-color: #FF7F57;
    color: #ffffff;
    font-weight: 700;
font-size: 18px;
padding: 10px 10px;
border-radius: 5px;
border: none;
}
.bloc_fact h2{
font-weight: 700;
font-size: 18px;
color: #FF7F57;
}
.bloc_fact p{
    font-size: 50px;    
font-weight: 500;
}
.select{
    font-weight: 900;
}