.content{
    padding-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.bloc{
    background-color: #EDEDED;
    width: 344px;
    height: 177px;
    border-radius: 10px;
    text-align: center;
    color: #000000;
}
.bloc_anecdocte{
    background-color: #EDEDED;
    color: #121212;
}
.btnFact{
    background-color: #FF7F57;
    color: #ffffff;
    font-weight: 700;
font-size: 18px;
padding: 10px 10px;
border-radius: 5px;
border: none;
}
.bloc h2{
font-weight: 700;
font-size: 18px;
color: #FF7F57;
}
.bloc p{
    font-size: 50px;    
font-weight: 500;
}
.select{
    font-weight: 900;
}


@media screen and (max-width: 992px) {
    #menu_visible{
        display : block;
    }
    .content{
        flex-wrap: wrap;
    }
    nav{
        grid-template-columns: 1fr 0.15fr;
    }
    .link{
        display : none;
    }
}